{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game lander</title>
    <title>Django blog</title>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<header>
   <div class="nav-left">
        <h1>
        <a href="{% url 'home' %}"> Start page </a>
        </h1>
   </div>
    <div class="nav-right">
        <a href="{% url 'about' %}">
            Search for new game accounts.
        </a>
    </div>

</header>
{% if user.is_authenticated %}
<p>Hello {{ user.username }}!</p>
<p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
<p>You are not logged in.</p>
<a href="{% url 'login' %}">Log In</a>
<p>You can register.</p>
<a href="{% url 'singup' %}">register</a>
{% endif %}
<div>
    {% block content %}    <!-- Here put another page -->
    {% endblock content %}
</div>
</body>
</html>